@model Player

<h1 class="h1">Player</h1>

<h3 class="h3">Name: @Model.PlayerId</h3>
<h3 class="h3">Name: @Model.Name</h3>
<h3 class="h3">Name: @Model.Surname</h3>
<h3 class="h3">Name: @Model.Position</h3> 